h1{	
		font-size: 80px;
		text-align: center; 
		color: #C3C31D;
		margin-bottom: -10px;
		text-decoration: underline;

}

h3{
		text-align: center; 
		color: blue;
}

h3.flea {
		text-align:left; 
}	

p {
		line-height: 25px;
		margin: 0 20px 50px 10px;
}

body {

		font-family: sans-serif ;
		background-color:#D2D2D2;
		color:black;
		margin: 0 30px 10px 30px;
}

img.action  {	
		border: solid #ffe 5px;
		float: right;
		width: 450px;
		height: 550px;
		margin: 50px 50px 0 75px;
}

img.main {	
		border: solid 5px;
		text-align: center;
		margin: 20px 0 0 250px;
}

nav {
		text-align: center;
		margin: 15px 0 0 0;
}

a {
		color: red;
}

h3.individual {
		text-decoration:underline;
}	

h3.experience {
		color:blue;
		margin-left: -1000px;
}

img.mainexp {
		width: 700px;
		height: 400px;
		margin: 30px 0 30px 250px
}

p.pexperience {
		line-height: 20px;
		color: red;
}

.hr {
	margin: 260px 0 10px 0 ;
}

div {
	line-height: 2.1;
	margin-top: 90px;
}

footer.experience {
	margin: 10px 0 0 0 ;
}

.hr-resuume {
	margin: 5px 0  0 0;
}
