body {
  background-color: black;
  font-color: white;
  font-family: serif;
  font-size: 18px;
  border-top: 5px solid #222222;
  margin: 20px 0px 0px 70px;
}

h1{
  color: white;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

.bold{
 
  font-size: 70px;
}

h2 {
  color: red;
}

p{
  margin-right: 60px;
  color:white;
}

p.other{
  margin-right: 0px;
  display: inline;
}

.information {
  padding-top: 15px;
}

h4{
color: red;
font-style: sans-serif;
text-align: center;

}

h5{
  font-color: white;
}

img {
  float: right;
  border: lightgray 1px solid;
  margin-left: 40px;
  }

  .image2 {
    margin-left: 0px;
  }


  ul{
    color: white;
  }

  a{
    color: red;
  }