nav {
  text-align: center;
  background-color: yellow;

}

h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-family: georgia;
}

a {
  font-family: georgia;
}

body {
  background-color: gray;
}
