body {
	font-family: sans-serif;
	margin: 0px;
}

nav {
	margin: 20px;
	text-align: left;
	font-size: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

a {
	color: black
}

a:hover {
	color: grey;

}

.gollum {
	background-image: url(http://vignette1.wikia.nocookie.net/lotr/images/3/31/580751_418602258175385_1601212863_n.jpg/revision/latest?cb=20120907014131);
	background-size: cover;
	height: 600px;
}

.gollum h1 {
	color: white;
	font-size: 70px;
	padding-left: 40px;
	padding-top: 100px;
	line-height: 110%;
	margin: 0;
}

.gollumtwo {
	background-image: url(http://orig00.deviantart.net/0737/f/2013/162/f/1/the_one_ring_by_mircore-d68o1io.png);
	background-size: cover;
	height: 600px;
}

.gollumtwo h3 {
	padding: 90px;
	color: white;
	font-size: 70px;
	text-align: right;
	margin: 0;
}

.gollumthree {
	background-image: url(http://images2.fanpop.com/image/photos/14000000/Gollum-Smeagol-smeagol-gollum-14076884-960-403.jpg);
	background-size: cover;
	height: 600px;
	padding-left: 40px
}

.gollumthree h3 {
	padding-top: 80px;
	padding-bottom: 60px;
	color: white;
	font-size: 70px;
	text-align: left;
	margin: 0;
}

.gollumthree ul {
	color: white;
	margin: 0;
}

.gollumthree li {
	color: white;
	padding-bottom: 10px;
	margin: 0;
}

.rings {
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-size: cover;
    margin: 30px;
}

.buybutton {
	font-size: 100px;
	margin:30px;
    position: relative;
    float: left;
    background-position: 50% 50%;
    border: solid black 8px;
    padding: 10px;
}

.links {
	margin: 20px;
	text-align: right;
	font-size: 20px;
	padding-right: 10px;
	padding-left: 10px;
}
